node_modules/
dist/
.next/
*.tsbuildinfo
.env
.env.local
.DS_Store
.agent-spaces-data/
server.tar
.gitignore
web.tar
packages/server/web/
packages/server/agent_spaces/
documents/.docusaurus/
documents/build/
.npmrc
packages/tauri/web/
packages/tauri/src-tauri/target/
packages/flutter/assets/web/
agent_spaces-server.latest.tar
packages/server/public/avatars/
packages/server/public/uploads/
.tmp*

packages/server/agent-spaces-data/workflows/*/execution_history/
packages/server/agent-spaces-data/workflows/*/versions/
packages/server/agent-spaces-data/workflows/*/operation_history.json
packages/server/agent-spaces-data/workflows-ui/*/data/
packages/server/agent-spaces-data/plugins/state.json
packages/server/agent-spaces-data/agents/agents.sqlite
packages/server/agent-spaces-data/auth.json
packages/server/agent-spaces-data/chat/*
packages/server/agent-spaces-data/mini-apps/*/chat/
packages/server/agent-spaces-data/chat-templates/*
packages/server/agent-spaces-data/agent-templates/*
packages/server/agent-spaces-data/mini-apps/*/agents.json
packages/server/agent-spaces-data/llm/*
packages/server/agent-spaces-data/plugins/*
packages/server/agent-spaces-data/mini-apps/*/data/
packages/server/agent-spaces-data/database/database.sqlite
packages/server/agent-spaces-data/kanban/kanban.sqlite
packages/server/agent-spaces-data/workspaces/

# electron
packages/electron/out/
packages/electron/renderer/
packages/electron/dist/
packages/electron/build/*
!packages/electron/build/icon.png
!packages/electron/build/icon.ico
!packages/electron/build/icon.icns
packages/electron/release/
packages/server/agent-spaces-data/workflows/*/chat.json
packages/server/agent-spaces-data/knowledge-bases/
packages/server/agent-spaces-data/public/uploads/
.openviking/ov.conf
.openviking/data/bot
.openviking/data/temp
.openviking/data/_system
.openviking/data/viking/default/user/default/sessions/
packages/server/agent-spaces-data/cli_history/
packages/server/agent-spaces-data/skills/


packages/server/agent-spaces-data/team/*/logs/
packages/server/agent-spaces-data/team/*/sessions/
packages/server/agent-spaces-data/team/*/*/
packages/logs/*
packages/server/agent-spaces-data/mini-apps/fitting-room/configs/
packages/server/.pi/
packages/server/agent-spaces-data/mini-apps/rss_reader/configs/
packages/server/agent-spaces-data/mini-apps/kanban/configs/
packages/server/agent-spaces-data/mini-apps/game-asset-canvas/configs/
