shamefully-hoist=true
strict-peer-dependencies=false
only-built-dependencies[]=esbuild
only-built-dependencies[]=msw
only-built-dependencies[]=node-pty
only-built-dependencies[]=protobufjs
only-built-dependencies[]=sharp
only-built-dependencies[]=unrs-resolver
